<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.androidev.coding">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".module.auth.AuthActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AuthTheme" />

        <activity
            android:name=".module.commit.CommitsActivity"
            android:label="@string/coding_commit"
            android:theme="@style/SwipeBackTheme" />

        <activity
            android:name=".module.commit.CommitActivity"
            android:theme="@style/SwipeBackTheme" />

        <activity
            android:name=".module.code.TreeActivity"
            android:theme="@style/SwipeBackTheme" />

        <activity
            android:name=".module.code.CodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CodeTheme" />

        <activity
            android:name=".module.image.ImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTheme" />

    </application>

</manifest>
